.blog {
  /* background-color: rgb(206, 171, 126); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postsContainer {
  border: 1px solid black;
}